{% extends "base.html" %}

{% block title %}Add Session | Gym Tracker{% endblock %}

{% block content %}

<div class="page-container narrow-container">

    <div class="page-header">

        <div>
            <p class="eyebrow">TRAINING</p>
            <h1>Add Training Program</h1>

            <p class="page-description">
                Build programs for your future training sessions
            </p>
        </div>

    </div>


    <form method="post" class="session-form">

        {% csrf_token %}
        {{ exercise_form_set.management_form }}
        
        <div class="form-section">

            <h2>Program Information</h2>

            <div class="form-group">

                <label for="program title">
                    Title
                </label>

                <input
                    type="title"
                    id="program_title"
                    name="title"
                    required
                >

                <label for="program description">
                   Description
                </label>

                <input
                    type="text"
                    id="program_description"
                    name="description"
                >
            </div>

        </div>


        <div class="form-section">

            <div class="form-section-header">

                <div>
                    <h2>Exercises</h2>

                    <p>
                        Add the exercises from this program.
                    </p>
                </div>

                <button
                    type="button"
                    class="secondary-button"
                    id="add-exercise"
                >
                    + Add Exercise
                </button>

            </div>


            <div id="exercise-list">

                <div class="exercise-row">

                    <div class="form-group">

                        <label>Exercise</label>

                        <input
                            type="text"
                            name="form-0-title"
                            placeholder="Bench Press"
                            required
                        >

                    </div>

                    <button
                        type="button"
                        class="remove-exercise"
                        onclick="removeExercise(this)"
                    >
                        ×
                    </button>

                </div>

            </div>

        </div>


        <div class="form-actions">

            <a
                href="{% url 'dashboard' %}"
                class="secondary-button"
            >
                Cancel
            </a>

            <button
                type="submit"
                class="primary-button"
            >
                Save Program
            </button>

        </div>

    </form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

</div>

{% endblock %}